<app-loading class="m-5" *ngIf="loadingArtista"></app-loading>

<div class="row animated fadeId" *ngIf="!loadingArtista">

    <div class="col-2">
        <img class="img-thumbnail img-circle" [src]="artista.images | noimage" alt="">
    </div>

    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button class="btn btn-outline-danger" routerLink="/search">Volver</button>
    </div>

</div>

<div class="row m-5" *ngIf="!loadingArtista">
    <div class="col">
        <table class="table">

            <thead>
                <th>Foto</th>
                <th>Album</th>
                <th>Canción</th>
                <th>Vista Previa</th>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <audio [src]="track.preview_url" controls></audio>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>